.about {
    &__ticker {
        transform: rotate(-2deg);
    }

    & {
        display: flex;
        flex-direction: column;
    }

    &__text {
        margin-bottom: 1.25rem;
    }

    &__hello,
    &__currently {
        width: 50%;
    }

    &__hello,
    &__hobbies {
        align-self: flex-end;
    }

    &__hobbies {
        width: calc(100% - #{$left-offset});
        margin-bottom: 0;
    }
}
