.characteristics {
    $star-size: 0.75em;
    padding: 0;

    &__ticker {
        transform: rotate(-1deg);
    }

    &__key {
        display: grid;
        grid-template-columns: 2fr 3fr 5fr;

        margin-bottom: 3rem;

        .arrow-pointer {
            margin-top: 0.5rem;
            margin-left: var(--section-offset);
        }

        h2 {
            line-height: 100%;
            margin-left: var(--section-offset);

            & > span {
                display: block;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        li {
            display: flex;
            align-items: center;

            &::before {
                content: "";
                margin-right: 1rem;

                margin-top: 0.1rem;

                @include use-star-icon(var(--yellow), $star-size);
            }
        }
    }
}
