.characteristics {
    $star-size: 0.75em;
    padding: $margin-top 0;

    &__ticker {
        transform: rotate(-1deg);
    }

    &__key {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;

        margin-bottom: 3rem;

        .arrow-pointer {
            margin-top: 0.5rem;
            margin-left: $margin-left;
        }

        h2 {
            line-height: 100%;
            // position: absolute;
        }

        &:last-child {
            margin-bottom: 0;
        }

        li {
            display: flex;
            align-items: center;

            &::before {
                content: "";
                margin-right: 1rem;

                display: block;

                width: $star-size;
                height: $star-size;

                background-image: url(../assets/images/star-yellow.svg);
                margin-top: 0.1rem;
                background-size: contain;
            }
        }
    }
}
