.characteristics {
    $star-size: 0.75em;

    &__ticker {
        margin-top: 4rem;
        margin-bottom: 4rem;
        transform: rotate(-1deg);
    }

    &__key {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;

        margin-bottom: 3rem;

        button {
            margin-top: 0.5rem;
        }

        h2 {
            line-height: 100%;
            margin-left: -25%;
        }

        &:last-child {
            margin-bottom: 0;
        }

        li {
            display: flex;
            align-items: center;

            &::before {
                content: "";
                margin-right: 1rem;

                display: block;

                width: $star-size;
                height: $star-size;

                background-color: red;
                mask: url(../assets/images/star.svg);

                // background-image: url(../assets/images/star.svg);
            }
        }
    }
}
