footer {
    background-color: $yellow;
    padding: 4rem 2.25rem;
    margin-top: var(--ticker-offset);

    p {
        color: $black;
        font-size: 3rem;

        display: flex;
        flex-direction: column;

        i {
            color: $black;
        }

        & > * {
            margin-bottom: 0.25rem;

            &:last-child {
                margin-bottom: 0;
                display: flex;
                align-items: center;
            }

            &:first-child,
            &:last-child {
                width: calc(100% - var(--left-offset));
                align-self: flex-end;
            }
        }
    }

    .arrow-pointer {
        margin-top: 0.25rem;
        width: 0.75em;
        height: 0.75em;
        margin-right: 1rem;
    }
}
