.more-works {
    &__ticker {
        transform: rotate(-2deg);
    }

    $icon-size: 2.25rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        width: calc(100% - var(--left-offset)*2);
        margin-bottom: 1.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        &__group {
            display: grid;
            grid-template-columns: $icon-size $icon-size 1fr;
            align-items: center;
            column-gap: 0.6875rem;
        }

        // &__icon {

        // }

        &__icon,
        &__count,
        &__title,
        &__type {
            line-height: 100%;
        }

        &__count {
            font-size: 1.875rem;

            &::after {
                content: '+';
            }
        }

        &__type {
            font-size: var(--tiny-font-size);
            opacity: .8;
            grid-row: 2/3;
        }

        &__arrow,
        &__icon {
            grid-row: 1/3;
        }

        &__icon {
            height: 100%;
            width: 100%;

            // img {
            //     height: 100%;
            //     width: 100%;
            // }
        }

        &__arrow {
            margin-left: 1.7rem;
        }

        &__title {
            font-size: var(--big-font-size);
        }

        &__link {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}
