h1,
h2,
h3,
a,
button,
.big-text,
p,
li {
    line-height: 130%;
    text-transform: uppercase;
    color: $white;
    font-style: normal;
}

h1 {
    font-size: 5.1875rem;
    line-height: 100%;
}

h2,
.big-text {
    font-size: 3rem;
}

h1,
h2,
p,
li {
    font-family: "Druk Cyr";
    letter-spacing: 0.04em;
    font-weight: 900;
}

li {
    line-height: 160%;
}

strong,
i {
    color: $yellow;
}

section {
    padding: $margin-top $margin-left;
}

.stroke-hover {
    &:hover {
        -webkit-text-stroke: 2px $black;
        color: transparent;
    }
}

.stroke-hover-ch {
    &:hover {
        & > span,
        & > i,
        & > strong {
            -webkit-text-stroke: 2px $black;
            color: transparent;
        }

        & > .arrow-pointer {
            background-color: $yellow;
            border: 2px solid $black;
            &::after {
                background-image: url(../assets/images/arrow.svg);
            }
        }
    }
}
