.stroke-hover {
    // &:hover {
    //     -webkit-text-stroke: 2px $black;
    //     color: transparent;
    // }

    &:hover {
        .stroke-hover-ch {
            &__white {
                -webkit-text-stroke: var(--stroke-width) $white;
                color: transparent;
            }

            &__yellow {
                -webkit-text-stroke: var(--stroke-width) $yellow;
                color: transparent;
            }

            &__black {
                -webkit-text-stroke: var(--stroke-width) $black;
                color: transparent;
            }
        }

        .arrow-pointer {
            background-color: transparent;
            border: var(--arrow-pointer-border-width) solid $yellow;

            &::after {
                background-color: $yellow;
            }

            &__black {
                border-color: $black;

                &:after {
                    background-color: $black;
                }
            }
        }
    }
}
