:root {
    --yellow: #dfff80;
    --white: #ffffff;
    --black: #001500;

    --left-offset: 20vw;
    --section-offset: 2.25rem;

    --title-font-size: 5.1875rem;
    --big-font-size: 3rem;
    --tiny-font-size: 0.375rem;
    --home-link-font-size: 0.4375rem;
    --text-block-offset: 0.25rem;

    --ticker-offset: 4rem;
    --stroke-width: 2px;
    --arrow-pointer-border-width: 2px;

    --logo-size: 1.25rem;

    font-size: 2.1vw;
}

// @media (max-width: 400px) {
//     :root {
//         font-size: 18px;

//     }
// }
